.flex-div {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.angular-material-table {
  width: 1600px;
}

.forma {
  justify-content: space-between;
  display: flex;
  width: 1600px;
}

.proizvod-container {
  width: max-content;
}

